.bgi{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://lh6.googleusercontent.com/proxy/gkawhbtY4goB2NsgpXAaypoMzNXwmgrG9c4VeXOZNUO69BEMcFudA8u5vLo2jPbnvQP5S7zGHghB_ICJmowQ3uboV3s") ;
}